li.layer {
  display: flex;
}

.item {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.iconPlus, .iconMinus {
  vertical-align: middle;
}

.childrenLayer {
  height: fit-content; 
}

.childrenLayer.closed {
  display: none;
}

.childrenLayer ul {
  padding-left: 0rem;
  margin-left: 0rem;
}

:focus {
  outline: none;
}

.visibleHidden {
  visibility: hidden;
}

ul li.layer:first-child {
  /* margin-top: 1rem; */
}

ul li.layer:last-child {
  /* margin-bottom: 1rem; */
}

.connectLine {
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

.connectLine svg {
  height: inherit;
}
