@import '~antd/dist/antd.css';

li.layer {
  display: flex;
}

.item {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: max-content;
}

.iconPlus, .iconMinus {
  vertical-align: middle;
}

.childrenLayer {
  height: fit-content; 
}

.childrenLayer.closed {
  display: none;
}

.childrenLayer ul {
  padding-left: 0rem;
  margin-left: 0rem;
  min-height: 23.8px;
}

:focus {
  outline: none;
}

.visibleHidden {
  visibility: hidden;
}

ul li.layer:first-child {
  /* margin-top: 1rem; */
}

ul li.layer:last-child {
  /* margin-bottom: 1rem; */
}

.connectLine {
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
}

.connectLine svg {
  height: inherit;
}

.site-layout {
  padding: 2rem;
  margin: 0rem;
  min-height: calc(100vh - 8.5rem);
  margin-top: 4rem;
}

.site-layout-background {
  background: #fff;
}

.ant-layout-header .logo {
  float: left;
  width: 6rem;
  color: #563d7c;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.3);
}
