li.layer {
  display: flex;
}

.item {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.iconPlus, .iconMinus {
  vertical-align: middle;
}

.childrenLayer.closed {
  display: none;
}

:focus {
  outline: none;
}

.visibleHidden {
  visibility: hidden;
}

ul li.layer:first-child {
  margin-top: 1rem;
}

ul li.layer:last-child {
  margin-bottom: 1rem;
}
